{:paths
 ["resources" "src"]
 :deps
 {org.clojure/clojure          {:mvn/version "RELEASE"}
  org.clojure/tools.deps.alpha {:git/url "https://github.com/clojure/tools.deps.alpha.git"
                                :sha     "e160f184f051f120014244679831a9bccb37c9de"}
  org.clojure/clojurescript    {:mvn/version "RELEASE"}

  mount                        {:mvn/version "0.1.16"}

  medley                       {:mvn/version "1.1.0"} ; needed?

  aleph                        {:mvn/version "0.4.6"}
  ring/ring-core               {:mvn/version "1.7.1"}
  ring-oauth2                  {:mvn/version "0.1.4"}
  ring/ring-defaults           {:mvn/version "0.3.2"}
  cljs-http                    {:mvn/version "0.1.46"}
  com.cognitect/transit-clj    {:mvn/version "0.8.313"}
  com.cognitect/transit-cljs   {:mvn/version "0.8.256"}
  bidi                         {:mvn/version "2.1.6"} ; needed?


  garden                       {:mvn/version "1.3.9"} ; needed?
  uix.core                     {:local/root "../clojure/uix/core"}
  uix.dom                      {:local/root "../clojure/uix/dom"}
  den1k/shortcuts              {:git/url "https://github.com/den1k/shortcuts"
                                :sha     "871cc945bc5d6f6af4b1a46e5918c36e3d4f1949"}

  ;; if using SNAPSHOT version, pull https://github.com/juxt/crux and lein install
  juxt/crux                    {:mvn/version "19.06-1.1.1-alpha-SNAPSHOT"}
  org.rocksdb/rocksdbjni       {:mvn/version "5.17.2"}

  ;; utils
  camel-snake-kebab            {:mvn/version "0.4.0"}
  appliedscience/js-interop    {:mvn/version "0.1.20"}
  }
 :aliases
 {:dev
  {:extra-paths ["dev"]}
  :dev/cljs
  {:extra-deps
   {thheller/shadow-cljs {:mvn/version "2.8.37"}
    binaryage/devtools   {:mvn/version "0.9.10"}}}}
 :test
 {:extra-paths ["test"]
  :extra-deps  {org.clojure/test.check {:mvn/version "RELEASE"}}}}
